#main_content {
  padding: 10px 0 100px 0;
  background-image: linear-gradient(to bottom, #F5F5F5, #ffffff);
}

#main_content h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 40px;
}

#main_content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main_content ul li {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  background-image: url('../images/checkmark.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  padding-left: 45px;
}

form {
  background-color: white;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.27) 0px 1px 4px 0px;
}

form h3 {
  text-align: center;
  font-weight: bold!important;
}

form label {
  font-size: 14px;
  font-weight: bold!important;
}

form input.form-control,
.form-control {
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.12);
  height: 40px;
  font-size: 16px;
}

form .form-group {
  padding: 5px 8px;
}


form button[type="submit"] {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: bold!important;
  font-size: 16px;
  border-radius: 2px;
  border: 0;
  background-image: linear-gradient(30deg, #F6529E, #FE737A);
  color: white;
  margin-bottom: 20px;
}

@media(max-width:1200px) {

  #main_content h2 {
    font-size: 30px;
  }

  form h3 {
    font-size: 26px;
  }
}

@media(max-width: 992px) {
  form {
    margin-top: 50px;
  }
}
