#hero {
  min-height: 300px;
}

#hero h1 {
  margin-top: 80px;
  color: white;
}

#hero h3 {
  margin-top: 30px;
  text-align: left;
  color: #bfc6d9;
}

#hero a.btn {
  border-radius: 5px;
  margin-top: 120px;
  padding: 15px 30px;
}

#services .container {
  top: 0;
}


#solutions .solution_holder {
  border: 1px solid #ebebeb;
  padding: 50px 40px 40px 40px;
  position: relative;
  margin-bottom: 40px;
  min-height: 350px;
}

#solutions .solution_holder .bg {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  background-color: #2555ef;
  text-align: center;
  line-height: 65px;
  border-radius: 5px;
}

.solution_holder .button_holder span {
  color: #2555ef;
}

.solution_holder h4 {
  text-align: center;
}

.solution_holder:hover a,
.solution_holder a:hover {
  color: #2555ef;
  text-decoration: none;
}

.solution_holder p {
  color: #9197ac;
  text-align: center;
  font-size: 1.1em;
}

.solution_holder .button_holder a.btn {
  background-color: #f8f9fb;
  color: #778191;
  border: 0;
  margin-top: 20px;

  -webkit-transition: all .5s;
  transition: all .5s;
}

.solution_holder .button_holder a.btn:hover {
  background-color: #2555ef;
  color: white;

  -webkit-transition: all .5s;
  transition: all .5s;
}

#solutions [class*="col-"]{
  position: relative;
  min-height: 350px;
}

.bg_solution {
  width: 100%;
  max-width: 360px;
  height: 100%;
  background-color: blue;
  position: absolute;
  top:0;
  left: 0;
  left: 50%;
  margin-left: -180px;
  text-align: center;
}

#bg_anchor {
  color: white;
}

#bg_anchor h4 {
  margin-top: 150px;
}

@media(max-width: 1200px) {
  #solutions .solution_holder {
    padding: 40px 20px;
  }

  .bg_solution {
    max-width: 291px;
    margin-left: -145.5px;
  }
}

@media(max-width:992px) {
  #hero {
    padding-bottom: 40px;
    text-align: center;
  }

  #hero h3 {
    text-align: center;
  }

  .bg_solution {
    max-width: 220px;
    margin-left: -110px;
  }

}


@media(max-width: 768px) {
  .solution_holder {
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .bg_solution {
    max-width: 370px;
    margin-left: -185px;
  }

}
